@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #121212;
  overflow-x: hidden;
  width: 100vw;
  margin: 0;
  position: absolute;
  padding: 0;
}

html,
body {
  width: 100vw;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 5px;
}

/* Track */
body::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
body::-webkit-scrollbar-thumb {
  background: rgb(128, 128, 128);
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  background: #555;
}
