@tailwind base;
@tailwind components;
@tailwind utilities;



body{
    background-color: #121212;
}




body::-webkit-scrollbar {
  width: 5px;
}

/* Track */
body::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
body::-webkit-scrollbar-thumb {
  background: rgb(128, 128, 128);
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  background: #555;
}