.project_card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.project_title {
  font-size: xx-large;
  font-weight: bolder;
}

.tech_stack_div {
  display: flex;

  flex-direction: column;
}

.tech_stacks {
  display: flex;

  justify-content: space-between;
}

.tech_stack_card {
  color: inherit;
  padding: 8px 10px;
  border-radius: 9px;
}

.tech_stack_card:hover {
  color: black;
  /* border: 1px solid white;
  background-color: rgb(255,255,255); */
  padding: 8px 10px;
  border-radius: 9px;
}

.project_card {
  padding: 30px;
  width: 400px;
  height: 300px;
  border: 1px solid grey;
  border-radius: 10px;
  background-color: #1f1f1f;
  transform: scale(1);
  /* box-shadow: 1px 1px 1px 1px rgb(201, 201, 201); */
}
.project_card:hover {
  transform: translateY(-40px) scale(1);
  border-radius: 10px;

  transition: 0.3s;
  background-image: linear-gradient(to right, #e8d6e3, #e9e4f8);
  color: black;
  box-shadow: 0px 0px 0px 0px rgb(201, 201, 201);
}

@media screen and (max-width: 485px) {
  .project_card {
    width: 100%;
    transform: scale(0.9);
  }

  .project_card:hover {
    transform: translateY(0px);
  }
}

/* #BAA5FF */
